
.header-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    
}
.pop-up-add, .pop-up-remove{
  border: 1px solid #702525;
  border-radius: 5px;
  color: black;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 5px;
}

.logo-btns{
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    font-family: sans-serif;
}
.logo-btns a {
    text-decoration: none;
    color: black;
}

.logo-btns img{
    background: none;
    max-width: 80px;
}
.logo-btns img:hover{
  cursor: pointer;
}

.search-cart {
    display: flex;
    padding-right: 60px;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.search-cart a{
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

.search {
    border: none;
    background-color: transparent;
   align-self: center;
}
.search:hover{
  cursor: pointer;
}

.cart {
    align-self: center;
    background-color: transparent;
    border: none;
    min-width: 40px;
    position: relative;
}
.cart-count-badge{
  background-color: black;
  color: white;
  position: absolute;
  border-radius: 50%;
  width: 15px;
  font-size: 12px;
}
.cart:hover {
 cursor: pointer;
}

.menu-item{
    position: relative;
    margin-left: 80px;
    
}

.menu-item .dropdown{
    min-height: 300px;
    display: flex;
    position: fixed;
    top: 115px;
    left: 0;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100vw;
    opacity: 0;
    background: linear-gradient(to bottom, white 80%, transparent);
    backdrop-filter: blur(5px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    visibility: hidden;
    transition: ease-in 0.4s, visibility 0.4s ease ;
    
}

.menu-item:hover .dropdown {
    visibility: visible;
    opacity: 1;
  }
  .dropdown{
    display: flex;
    justify-content: space-between;
  }


.menu-item .dropdown > div {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.4s ease, transform 0.8s ease;
}


.menu-item:hover .dropdown > div {
  opacity: 1;
  transform: translateX(0);
}
.menu-item .dropdown > div:nth-child(1) {
  transition-delay: 0s;
}
.menu-item .dropdown > div:nth-child(2) {
  transition-delay: 0.1s;
}
.menu-item .dropdown > div:nth-child(3) {
  transition-delay: 0.2s;
}
.menu-item .dropdown > div:nth-child(4) {
  transition-delay: 0.3s;
}
.menu-item .dropdown > div:nth-child(5) {
  transition-delay: 0.4s;
}
  .dropdown .dropdown-clothing, .dropdown-shoes, .dropdown-accessoaries, .dropdown-tech {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   padding: 40px;
  }
  .dropdown h1{
    font-size: 15px;
  }
  .dropdown a{
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    font-size: 11px;
    white-space: nowrap;
  }
  .dropdown-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 40px;
    
  }
  .dropdown-image img{

      height: 150px;
      min-width: 200px;
  object-fit: cover;
  border-radius: 4px;
  }

  .dropdown .dropdown-mens-clothing, .dropdown-mens-shoes, .dropdown-mens-acessoaries {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   padding: 40px;
  }

  @media screen and (max-width: 768px) {
      .header-container{
        align-items: center;
        padding: 10px 20px;
        gap: 20px;
      }

      .logo-btns {
        justify-content: center;
        padding: 0;
        font-size: 18px;
      }

      .logo-btns img {
        max-width: 60px;
      }

       .search-cart {
       padding-right: 0;
        gap: 15px;
      }
      .search-cart a {
        font-size: 14px;
      }

      .menu-item{
        display: none;
      }

    
  }



 