.bestseller-container{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.bestsellers{
    
    display: flex;
    justify-content: space-between;
    gap: 5px
}

.bestseller-item{
    max-width: 400px;
    width: 100%;
    transition: ease 0.2s;
}
.bestseller-item img{
    transition: ease 0.2s;
}
.bestseller-item img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.bestseller-top{
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.product-data{
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 5px;
    font-weight: 300;
    line-height: 8px;
}