.main-catalog-sort-filter{
    display: flex;
    gap: 100px;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: flex-start; 
}
.catalog-items-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   place-items: center;
   gap: 15px;
   padding: 20px;
   margin: auto;
}


.topcatalog h1{
   margin-left: 50%;
   transform: translateX(-50%);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 .sort{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
 }
 
 .sort-by{
    color: grey;
    font-size: 15px;
 }
 .sort-select{
   border: none;
   outline: none;
   cursor: pointer;

 }
 .filter-select{
   border: none;
   outline: none;
   cursor: pointer;
 }

 .sort button {
    align-self: center;
 }
 .sort button:hover {
    cursor: pointer;
 }
 .show-filters{
    align-self: center;
 }
.sort-by-button:hover{
    cursor: pointer;
}
 .show-filters svg{
    transform: translateY(4px);
 }
 .show-filters button{
    cursor: pointer;
 }
 .show-filters p{
    font-size: 15px;
 }
.sort-select{
   color: black;
}
.filter-select{
   color: black;
}
.best-selling-p{
    color: black;
    font-size: 15px;
}

.main-catalog-sort-filter button{
    background-color: transparent;
    border: none;
    
}

.empty-catalog {
   text-align: center;
   padding: 2rem;
 }

 .empty-catalog a{
   text-decoration: none;
   margin-top: 20px;
    padding: 10px;
    background-color: #4e6866;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
 
 }
 
 .pug-image {
   max-width: 570px;
   margin-bottom: 1rem;
   min-height: 30vh
 }

 @media screen and (max-width: 768px) {
   .catalog-items-container{
      display: flex;
      flex-direction: column;
   }

   .show-filters{
display: flex;
justify-content: center;
align-items: center;      
   }
   .show-filters svg{
     transform: translateY(-1px);    
         }
 }

