

.catalog-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 5px;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    
}
.catalog-item img{
    width: 100%;
    transition: ease 0.2s;
}

.item-img img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.catalog-item p{
    padding-left: 100px;
}
.catalog-item-p{
    width: 100%;
    background-color: white;
}